@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #041562;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.titulo {
  color: white;
  font-size: 4rem;
  font-family: 'Fredoka One', cursive;
}

.subtitulo {
  color: white;
  font-size: 1.5rem;
}

.tarjetas, .tarjetas-ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 180px;
  height: 100px;
  background: #11468F;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.tarjeta-de-mokepon:hover {
  background-color: #5D8BF4;
}
.tarjeta-de-mokepon img {
  width: 80px;
}

#boton-mascota {
  width: 194px;
  height: 44px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 52px;
  cursor: pointer;
}

input {
  display: none;
}

input:checked + label {
  background-color: #5D8BF4;
}

#seleccionar-ataque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
  background-color: #11468F;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: transparent;
  width: 80px;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

#mensajes {
  width: 280px;
  background: #EEEEEE;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#boton-reiniciar {
  border: none;
  color: #11468F;
  font-family: 'Poppins', sans-serif;
}

.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
  color: white;
}

#vidas-jugador, #vidas-enemigo {
  font-size: 32px;
  margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mapa {
  box-shadow: 2px 2px 10px 1px #000;
}
#ver-mapa {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ver-mapa button{
  width: 100px;
  height: 50px;
  margin-top: 10px;
  background-color: #ffa800;
  border: 1px solid #4a2d01;
  color: #000;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.button-control:active{
  background-color: #4a2d01;
  color: white;
}
@media (max-width: 560px) {
  .tarjetas, .tarjetas-ataques, .tarjeta-de-mokepon{
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  #ver-mapa div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
